@model NewProject.Models.Student

<h2>Edit Student</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="StudentId" />

    <div class="form-group">
        <label asp-for="StudentName" class="control-label"></label>
        <input asp-for="StudentName" class="form-control" />
        <span asp-validation-for="StudentName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HallTicketNumber" class="control-label"></label>
        <input asp-for="HallTicketNumber" class="form-control" />
        <span asp-validation-for="HallTicketNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CourseName" class="control-label"></label>
        <input asp-for="CourseName" class="form-control" />
        <span asp-validation-for="CourseName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SubjectName" class="control-label"></label>
        <input asp-for="SubjectName" class="form-control" />
        <span asp-validation-for="SubjectName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="InternalMarksMaximum" class="control-label"></label>
        <input asp-for="InternalMarksMaximum" class="form-control" />
        <span asp-validation-for="InternalMarksMaximum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="InternalMarksSecured" class="control-label"></label>
        <input asp-for="InternalMarksSecured" class="form-control" />
        <span asp-validation-for="InternalMarksSecured" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SemesterMarksMaximum" class="control-label"></label>
        <input asp-for="SemesterMarksMaximum" class="form-control" />
        <span asp-validation-for="SemesterMarksMaximum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SemesterMarksSecured" class="control-label"></label>
        <input asp-for="SemesterMarksSecured" class="form-control" />
        <span asp-validation-for="SemesterMarksSecured" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
